@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
// Font styles
$font-family:  Calibri, Candara, Segoe, Segoe UI, Arial, sans-serif !important;
$font-large: 34px;
$font-medium: 21px;
$font-small: 16px;

html * {
  font-family: $font-family;
}

code, pre {
  font-family: 'Roboto Mono', monospace !important;
}

h1 {
  font-weight: bold;
}