.c-Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.72);
  height: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;

  &__Left {
    display: flex;
    flex-direction: row;
    button {
      background-color: $stripe-primary;
      display: flex;
      height: fit-content;
      justify-content: center;
      align-items: center;

      &:active, &:hover, &:visited, &:focus {
        background-color: $stripe-primary;
      }

    }

    .c-Header__Title {
      padding-left: 20px;
      display: flex;
      align-items: center;
      h2 {
        margin-bottom: 0;
        font-weight: bold;
        font-size: $font-large;
        color: $stripe-primary;
      }
    }

    @media screen and (max-width: 768px) {
      .c-Header__Title {
        display: none;
      }
    }

  }

  &__Avatar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}