.c-Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(247, 247, 247);
  height: 100%;

  &__Left {
    display: flex;
    flex-direction: row;
    button {
      background-color: black;
      display: flex;
      height: fit-content;
      justify-content: center;
      align-items: center;

      &:active, &:hover, &:visited, &:focus {
        background-color: black;
      }

    }

    .c-Header__Title {
      padding-left: 20px;
      display: flex;
      align-items: center;
      h2 {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: 768px) {
      .c-Header__Title {
        display: none;
      }
    }

  }

  &__Avatar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}