.c-Header {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__Left {
    display: flex;
    flex-direction: row;
    button {
      background-color: black;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:active, &:hover, &:visited, &:focus {
        background-color: black;
      }

    }

    .c-Header__Title {
      padding-left: 20px;
    }

    @media screen and (max-width: 768px) {
      .c-Header__Title {
        display: none;
      }
    }

  }
}