:root {
    --diameter: 48px;
}

.avatarContainer {
    width: var(--diameter);
    height: var(--diameter);
    border-radius: calc(var(--diameter) / 2);
    position: relative;
    z-index: 1;
}

.avatarContainer>span {
    cursor: pointer;
}

.placeholder {
    width: var(--diameter);
    height: var(--diameter);
    border-radius: calc(var(--diameter) / 2);
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    font-weight: 500;
    user-select: none;
}

.avatarContainer img {
    max-width: 100%;
    border-radius: calc(var(--diameter) / 2);
    z-index: 0;
}

.menuContainer {
    position: absolute;
    top: 0;
    right: calc(var(--diameter) + 8px);
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 576px) {
    .menuContainer {
        position: fixed;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 24%);
        width: calc(100vw - 24px);
        height: 300px;
    }
}