.container {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 64px;
    overflow: hidden hidden;
}

.titleContainer {
    flex-shrink: 0;
}

.avatarContainer {
    margin-left: auto;
}

.circle {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: gray;
}