.c-Forgot-password {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 480px;
  margin: auto;
  .container {
    padding: 0;
  }
  form {
    width: 100%;
    input {
      width: 100%;
      border: thin solid black;
      outline: none;
      border-radius: 5px;
    }
    button {
      width: 100%;
      margin-top: 10px;
    }
    .c-Card__Recaptcha {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .c-Card__Instructions {
      margin-bottom: 0;
    }
  }
}
